<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241753669227-8dktmsjuemgp8sh7rci6ldrm9d78p0ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241753669227-8dktmsjuemgp8sh7rci6ldrm9d78p0ig</string>
	<key>API_KEY</key>
	<string>AIzaSyDCUP85lKD0Jq4qNbH2EEMC1-GWetehzyw</string>
	<key>GCM_SENDER_ID</key>
	<string>241753669227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raywenderlich.ideast</string>
	<key>PROJECT_ID</key>
	<string>ideast-27f81</string>
	<key>STORAGE_BUCKET</key>
	<string>ideast-27f81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241753669227:ios:9e948fce30ba1183a1bb2e</string>
</dict>
</plist>